body{
    font-family: "Times New Roman",sans-serif;
}

.main-container{
    width: 800px;
    margin: auto;
    /*background-color: orange;*/
    text-align: center;
}
.main-container h2{
    color: gray;
    font-size: 14px;
    margin-top: 30px;
}
.main-container p {
    color: gray;
    font-size: 14px;
    margin-top: 30px;
    text-align: left;
}
div h4:first-of-type{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

div h3:first-of-type{
    font-weight: bold;
    font-size: 14px;
    color: dimgray;
    text-align: left;
}
#avatar-img{
    width: 60px;
    border-radius: 100%;
    border: 3px solid white;

}
#icon-container{
    text-align: right;
}
#icon-container span{
    color: dodgerblue;
    background-color: purple;
    border-radius: 5px;
}
#divider{
    border: 1px solid grey;
    margin: 10px 0;
}
.section{
    background-color: rgb(255,0,146);
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}